.fill { 
    height: 100vh;
}

div.col>a>img{
    height: 20px;
    width: 20px;
}

.side-bar-title{
    height:10%;
    background-color:#2C2B3C ;
}

.side-bar-title h1{
    color:white;
}

.side-bar-content{
    display: block;
    background-color: gray;
    height:80%;
}

.side-bar-infos{
    height:6%;
}
.side-bar-infos + .side-bar-content{
    height:74%;
}

.side-bar-travel{
    max-height: 40%;
    background-color: #B76D68;
}



main{
    height: 86%;
}

.side-bar-footer{
    height:10%;
    background-color:#2C2B3C ;
}

.side-bar-footer h1{
    color:white;
}

.left-side{
    background-color:#1B2432;
}

.right-side{
    background-color: #656675;
}
header{
    height: 9%;
    background-color: #121420;
}

footer{
    height:5%;
    background-color: #121420;
}

.btn-warning{
    background-color: #B76D68;
    border-color: #B76D68;
}

.btn-warning:hover{
    background-color: #d86a62;
    border-color: #B76D68;
}

.dropdown-button :hover{
    background-color: #7f7e92;
}
.dropdown-button {
    background-color: #403F4C;
}

#modifica-elenco-tappe-viaggio{
    display:none;
}

#visualizza-elenco-tappe-viaggio{
    display:none;
}

#elenco-viaggi-giornata{
    display:none;
    height:auto;
}

#login{
    display:none;
}

#map{
    height: 90%;
    width: 90%;
}

.container-modifica-tappa{
    height:100%;
    display:none;
}
.container-tappa{
    height:50%;
}

.elenco-viaggi, .elenco-tappe{
    height:auto;
}
/*
p , button{
    font-size: 1vw;
}*/

#elenco-viaggio-viaggio-titolo{
    white-space: normal;
}

#elenco-viaggio-viaggio-titolo button{
    background-color:#121420;
    border-color:#16161d;
}

#elenco-viaggio-viaggio-titolo button:hover{
    background-color:#2C2B3C;
    border-color:#16161d;
}

.btn{
    background-color:#1B2432;
    border-color:#0e131b;
}

p{
    padding:0px;
    margin:0px;
}

@media (min-width: 992px){
    #general-container {
        overflow-y: hidden;
    }
    .left-side{
        height: 100% !important;
        max-height:100% !important;
    }
    #right-side-container{
        height: 100% !important;
        max-height:100% !important;
    }
}
